body{

}

*{
  font-family: 'Arial'
}

.myPost_name{
  text-decoration: none;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#class_container{
  position: absolute;
  top: 9%;
  left: 46%;
}

.vote{
  width: 50pt; 
  height: 50pt;
}

#upvote{
  background-image: url('upvote.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#downvote{
  background-image: url('downvote.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#account{
  background-image: url('account.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: right;
  height: 50pt;
  width: 50pt;
}

#account_container{
  border: 1pt solid #a19c9c;
  position: absolute;
  background-color: white;
  top: 5%;
  right: 5%;
}


#infoPage{
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#main{
  background-image: url('CREATURE.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.search{
  float: center;
  display: block;
  font-size: 36px;
  text-align: center;
  border: solid #6a6b6e;
  margin: 0;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



#secondSearch{
  top:5%;
  left: 50%;
}

#mainSearch{
  top: 50%;
  left: 50%;
}

#submit_search
{
  visibility: hidden;
}

.searchResult{
  display: inline-block;
  border-style: solid;
  border-color: #838891;
  margin: 20pt;
}

.searchImage{
  float: left;
  height: 150pt;
  width: auto;
  margin: 10pt;
}

.chooseButton{
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 120pt;
  width: 120pt;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 70%;
}

#boSat{
  background-image: url('bosat.jpg');
  left:5%;
}

#mammal{
  background-image: url('mammals.jpg');
  left: 25%;
}

#insect{
  background-image: url('insects.jpg');
  left: 45%;
}

#fish{
  background-image: url(fish.jpg);
  left: 65%;
}

#bird{
  background-image: url('bird.jpg');
  left: 85%;
}

#detailTop{
  position: absolute;
  font-family: 'Arial';
  font-size: 20pt;
  top:10%;
  margin:50pt; 
  margin-left: 100pt;
  margin-right: 100pt; 
}

#detailImage{
  float: left;
  height: 150pt;
  width:auto;
  margin-right: 20pt;
}

#content{
  font-size: 16pt;
  font-family: 'Arial';
  position: absolute;
  margin: 50pt;
  margin-left: 100pt;
  margin-right: 100pt; 
  top:45%;
}

#mainInfoPage{
  position: absolute;
  width: 70%;
  height: 100%;
  left: 15%;
}

#login_form{
  text-align: center;
}




