body{
  background-image: url('CREATURE.png');
  background-size: cover;
  background-repeat: no-repeat;
}


input[type="text"]{
  float: center;
  display: block;
  font-size: 36px;
  text-align: center;
  border: solid #6a6b6e;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

input[type="submit"]
{
  visibility: hidden;
}

.chooseButton{
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 120pt;
  width: 120pt;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 70%;
}

#boSat{
  background-image: url('bosat.jpg');
  left:5%;
}

#mammal{
  background-image: url('mammals.jpg');
  left: 25%;
}

#insect{
  background-image: url('insects.jpg');
  left: 45%;
}

#fish{
  background-image: url(fish.jpg);
  left: 65%;
}

#bird{
  background-image: url('bird.jpg');
  left: 85%;
}